<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>

  <body class="container-fluid">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div class="jumbotron">
      <h1>Welcome to the Movies App</h1>
      </div>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
