body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*.masterhead {
  background-repeat: no-repeat;
  margin: fixed;
  background-image:url("https://slicksmovieblog.files.wordpress.com/2014/08/cropped-movie-banner-e1408372575210.jpg");
}*/

.container {
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
}

.container h3 {
  font-weight: normal;
}

body.container-fluid{
  background-image: url("http://img0.ndsstatic.com/wallpapers/8e7073cdac026e194bf57ccb9e1deb32_large.jpeg");
  background-size: 1500px 1200px;
}
img {
  border-radius: 30px
  border: 2px solid black;
  opacity: 0.5;
  transition: 0.25s ease-in-out;
}

img:hover {
  opacity: 1;
}

#search button {
  width: 400px;
  height: 50px;
  font-size: 20px;
  outline: none;
}
