

          <div class="form-group">
            <label for="title">Search</label>
            <input type="text"
                   class="form-control"
                   name="genre" />
          </div>
