<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>My Movie List:</h3>
      <% todos.forEach(function(todo) { %>
        <h4 class="list-group-item panel panel-primary ng-scope">
          <form meathod="POST" action="/todos/<%= todo._id %>?_method+DELETE">
            <a href="/todos/<%= todo._id %>">
              <%= todo.title %>
            </a>
            <a href="/todos/<%= todo._id%>/toggle">
              <% if (todo.completed) { %>
              <span class="glyphicon glyphicon-ok" aria hidden="true"></span>
              <% } else { %>
              <span class="glyphicon glyphicon-unchecked" aria hidden="true"></span>
              <% } %>
            </a>
            <button type="submit" class="btn btn-xs btn-danger">Manage</button>
          </form>
        </h4>
      <% }) %>
    </div>
    <br>
    <a href="/todos/new" type="button" class="btn btn-default">New</a>
  </main>
  <br>
  <form class="todo-form" action="/todos/search" method="POST">
    <% include _searchform %>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>


  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
