<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <div class="container">
    <h3>Search for some of your favorite movies!</h3>
    <img src="http://wonkville.net/wp-content/uploads/2016/04/No-image-available.jpg">
    <hr>
    <button>Click me to generate new movie</button>
  </div>

  <script type="text/javascript" href="/javascripts/api.js"></script>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
