<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <div class="container">
    <h3>Search for some of your favorite movies!</h3>
    <img src="http://www.flexson.com/media/catalog/product/placeholder/default/No_available_image.gif">
    <hr>
    <button class="search">Click me to generate new movie</button>
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
